In [ ]:
### 11654번 아스키 코드m

In [2]:
def solution() :
    a = str(input())
    print(ord(a))
solution()

65

In [ ]:
### 11720번 숫자의합

In [48]:
def solution():
    N = int(input())
    num = input()
    list_sum = sum([int(i) for i in num])
    print(list_sum)
solution()

3
123
6

In [51]:
#10809 알파벳 찾기

In [77]:
def solution():
    S = input()
    a = ''
    for i in range(97,122+1):
        print(str(S.find(chr(i))))
    
    
solution()

baekjoon
1
0
-1
-1
2
-1
-1
-1
-1
4
3
-1
-1
7
5
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1

In [ ]:
### 2675 문자열 반복

In [95]:
def solution():
    T = int(input())
    
    for i in range(T):
        R, S = map(str, input().split())
        a = ''
        #T, R, S = map(str, input().split())
        for j in S:
            a = a+j*int(R)
        print(a)
solution()

In [ ]:
### 1157 단어공부

In [127]:
def solution():
    word = input().upper()
    word_list = list(set(word))
    count_list = []
    for i in range(len(word_list)):
        count_list.append(word.count(word_list[i]))
    count_max = max(count_list)
    
    if count_list.count(count_max) >1 :
        print('?')
    else :
        print(
            word_list[count_list.index(count_max)]
        )
solution()

abMMM
M