In [2]:
##2798번 블랙잭

In [75]:
N, M= map(int,input().split())
c = list(map(int,input().split()))


out = []
out1 = []
for i in c:
    a = [item for item in c if item != i]
    for j in a:
        b = [item for item in a if item != j]
        for k in b:
            if sum([i,j,k]) >M:
                continue
            else:
                #print(sum([i,j,k]))
                out.append(sum([i,j,k]))
                out1.append(M-sum([i,j,k]))
            

print(out[out1.index(min(out1))])

10 500
93 181 245 214 315 36 185 138 216 295
497