In [ ]:
### 11729 하노이 탑

In [18]:
N=int(input())
print(2**N-1)
def hanoi(N,a,b,c):
    
    #a-시작
    #b-목표
    #c-보조
    if N == 1:
        print(a,b)
        return
    hanoi(N-1,a,c,b)
    print(a,b)
    hanoi(N-1,c,b,a)

hanoi(N,1,3,2)

3
7
1 3
1 2
3 2
1 3
2 1
2 3
1 3